.nav-bar {
  margin: 3rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  align-items: flex-start;

  @include breakpoint(medium) {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 0;
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
  }

  .nav-logo {
    width: 148px;
    height: 25px;
    background-image: url(../images/logo-bookmark.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;

    @include breakpoint(medium) {
      background-image: url(./images/logo-bookmark.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      align-self: flex-start;
    }
  }
  .nav-links {
    display: flex;
    width: 42%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0;

    @include breakpoint(medium) {
      flex-direction: column;
      margin: 20px auto;
      width: 100%;
      text-align: center;
      position: fixed;
      top: 105px;
      left: 0;
      display: none;

      &:after {
        content: "";
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        background-color: #172c42;
        opacity: 0.8;
      }
    }
  }
  ul {
    list-style: none;
    min-width: 500px;
    @include breakpoint(medium) {
      min-width: 0;
    }

    li {
      text-transform: uppercase;
      @include breakpoint(medium) {
        border-top: 1px solid #fff;
        padding: 15px 5px;
        width: 90%;
        &:nth-child(3) {
          border-bottom: 1px solid #fff;
        }
      }
    }
    a {
      text-decoration: none;
      color: #000;
      letter-spacing: 1px;
      font-size: 0.9rem;

      &:hover {
        color: $softRed;
      }
      @include breakpoint(medium) {
        color: #fff;
        width: 100%;
        display: block;
        font-size: 1.8rem;
      }
    }
    .nav-but {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.9rem;
      color: #fff;
      padding: 10px 25px;
      border-radius: 5px;
      border: none;
      background-color: $softRed;
      box-shadow: 0px 4px 8px -2px rgba(173, 171, 173, 0.81);
      outline: none;
      border: 2px solid $softRed;
      transition: all 0.2s ease-in-out;

      @include breakpoint(medium) {
        width: 90%;
        margin-top: 35px;
        border: 2px solid #fff;
        font-weight: 500;
        box-shadow: none;
        background: transparent;
        font-size: 1.5rem;
      }

      &:hover {
        box-shadow: none;
        background-color: #fff;
        color: $softRed;
        @include breakpoint(medium) {
          background: transparent;
        }
      }
    }
  }

  .icons {
    display: none;

    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      width: 200px;
      position: absolute;
      bottom: -100px;
      align-self: center;
    }
    & .fab {
      font-size: 2rem;
    }
  }

  .nav-icon {
    display: none;
    @include breakpoint(medium) {
      background: #000;
      display: block;
      height: 4px;
      width: 30px;
      position: absolute;
      top: 50px;
      right: 30px;
      transition: background 0.2s ease-out;
      z-index: 50;
      cursor: pointer;

      &.nav-icon:before {
        background: #000;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 8px;
        transition: all 0.2 ease-out;
        z-index: 50;
      }
      &.nav-icon:after {
        background: #000;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -8px;
        transition: all 0.2 ease-out;
        z-index: 50;
      }
    }
  }
  #toggle {
    display: none;
  }

  .toggle:checked ~ .toggle-label .nav-icon {
    background: transparent;
    position: fixed;
  }
  .toggle:checked ~ .toggle-label .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
    background-color: #fff;
  }
  .toggle:checked ~ .toggle-label .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
    background-color: #fff;
  }
  .toggle:checked ~ .toggle-label ~ .nav-links {
    display: inherit;
  }
}

.mynav {
  z-index: -100;
  position: absolute;
  align-self: center;
  @include breakpoint(medium) {
    align-self: flex-start;
  }
}
